.cabecera{
 height: 400px;
 size:100%;
 background-color:yellow;
}

.acerca{
margin-left:100px;
margin-right:100px;
font-size:50px;
border-bottom:2px solid blue;

}

.cuerpo{
margin-left:100px;
margin-right:100px;
margin-bottom:20px;
size:960px;
 background-color:blue;
}


.reflex{
margin-left:100px;
margin-right:100px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
margin-bottom:20px;
border-bottom:2px solid blue;
border-left:2px solid blue;
border-right:2px solid blue;
}

}
h1{
margin-left: 480px;
font-family: "arial black";
color:#3399FF;
font-size:40px;
}
dreams {
margin-right: -580px;
font-family: "arial black";
font-size:100px;

}
.magic {
margin-left: 580px;
margin-top:-35px;
color:#3399FF;
font-size: 14px;
font-family:"century gotic";
}


.reflexion{
background-color: blue;
margin: 40px 20px 40px 20px;
font-size: 23px;
font-family: "Comic Sans MS";
margin-left:-500px;

}

.reflexion p{
color: yellow;}

img {
    border: 0px none;
    width: 300px;
    height: 300px;
    border-radius:50%;
    margin-left:100px;
}
  
  
